/* SkeletalLoader.css */
.pulsate {
    background: linear-gradient(-45deg, #DDDDDD, #F0F0F0, #DDDDDD, #F0F0F0);
    background-size: 400% 400%;
    animation: Gradient 2.25s ease infinite;
  }
  
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .fpo {
    position: relative;
    margin: 25% auto;
    display: block;
  }
  