/* @import url("/assets/styles/fonts.css"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-general: #FFFFFF;
  --text-general: #090909;
  --button-general: #89C13E;
  --button-white: #DBE1E7;
  --header-color: #F5F0FA;
}

html {
  overflow-x: hidden;
}

body {
  font-family: var(--font-inter);
  font-weight: 400;
  color: rgb(var(--text-general));
  background:
    rgb(var(--background-general));
  overflow-x: hidden;
}

.bg-img {
  background: url("/Consultation.svg") center/cover;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar {
  overflow: auto;
}

.transition_border {
  text-align: center;
  position: relative;
}

.transition_border::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 0;
  background: #FFFFFF;
  height: 3px;
  opacity: 0;
  transition: opacity 0.3s, width 0.3s;
}

.transition_border:hover::after {
  opacity: 1;
  width: 100%;
}


@media screen and (max-width: 360px) {
  .sm_btn-container {
    flex-wrap: wrap;
  }

  .sm_btn-container>.btn {
    width: 100%;
    margin: 2% 0;
    text-align: center;
  }

  .margin-sm-override {
    margin: 0;
  }
}