/* @import url("/assets/styles/fonts.css"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-general: #FFFFFF;
  --text-general: #090909;
  --button-general: #89C13E;
  --button-white: #DBE1E7;
  --header-color: #F5F0FA;
}

html {
  overflow-x: hidden;
}

body {
  font-family: var(--font-inter);
  font-weight: 400;
  color: rgb(var(--text-general));
  background:
    rgb(var(--background-general));
  overflow-x: hidden;
}

.bg-img {
  background: url("/Consultation.svg") center/cover;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar {
  overflow: auto;
}

.transition_border, .transition_border1 {
  text-align: center;
  position: relative;
}

.transition_border::after, .transition_border1::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 0;
  background: #FFFFFF;
  height: 3px;
  opacity: 0;
  transition: opacity .8s, width .8s, left .8s;
}

.transition_border1::after{
  background: #89C13E;
}

.transition_border:hover::after, .transition_border1:hover::after {
  opacity: 1;
  width: 100%;
}

.transition_border:not(:hover)::after, .transition_border1:not(:hover)::after {
  left: auto;
  right: 0;
  width: 0;
}

.transition_button, .transition_button4 {
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: color 0.3s;
  z-index: 1;
}

.transition_button {
  color: #89C13E;
  background: transparent;
}

.transition_button4 {
  color: #FFFFFF;
  background: transparent;
}

.transition_button::before, .transition_button4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
  z-index: -1;
}

.transition_button::before {
  background: #89C13E;
}

.transition_button4::before {
  background: #FFFFFF !important;
}

.transition_button:hover {
  color: #FFFFFF;
}

.transition_button4:hover {
  color: #89C13E;
  background: transparent;
}

.transition_button:hover::before,
.transition_button4:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.transition_button:not(:hover)::before,
.transition_button4:not(:hover)::before {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in;
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}



@media screen and (max-width: 767px) {
  .sm_btn-container {
    flex-wrap: wrap;
  }

  .sm_btn-container>.btn {
    width: 100%;
    margin: 2% 0;
    text-align: center;
  }

  .margin-sm-override {
    margin: 0;
  }
}