@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-general: #FFFFFF;
  --text-general: #090909;
  --button-general: #89C13E;
  --button-white: #DBE1E7;
  --header-color: #F5F0FA;
}

body {
  color: rgb(var(--text-general));
  background:
    rgb(var(--background-general));
}