/* 
 !--------------------------------------------------------> BricolageGrotesque Font <-----------------------------------------------! */

@font-face {
    font-family: 'BricolageGrotesque';
    src: url('./fonts/BricolageGrotesque/BricolageGrotesque-Regular.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'BricolageGrotesque';
    src: url('./fonts/BricolageGrotesque/BricolageGrotesque-Medium.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BricolageGrotesque';
    src: url('./fonts/BricolageGrotesque/BricolageGrotesque-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'BricolageGrotesquet';
    src: url('./fonts/BricolageGrotesque/BricolageGrotesque-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'BricolageGrotesque';
    src: url('./fonts/BricolageGrotesque/BricolageGrotesque-ExtraBold.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}

/* 
 !--------------------------------------------------------> Inter V Font <-----------------------------------------------! */

@font-face {
    font-family: 'Inter_V';
    src: url('./fonts/Inter_V/Inter-Regular.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inter_V';
    src: url('./fonts/Inter_V/Inter-Medium.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter_V';
    src: url('./fonts/Inter_V/Inter-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter_V';
    src: url('./fonts/Inter_V/Inter-ExtraBold.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}